body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1646px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1646px;
  height:1357px;
  background:inherit;
  background-color:rgba(25, 29, 52, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u231 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1646px;
  height:1357px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u231 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u231_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u233 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u234_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  height:272px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(53, 66, 142, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u234 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:1px;
  width:479px;
  height:272px;
  display:flex;
}
.u234 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u234_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
.u235 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:233px;
  width:1px;
  height:40px;
  display:flex;
}
.u235 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u235_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
.u236 {
  border-width:0px;
  position:absolute;
  left:461px;
  top:254px;
  width:1px;
  height:40px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
.u236 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u236_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
.u237 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:40px;
  display:flex;
}
.u237 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u237_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
.u238 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:-19px;
  width:1px;
  height:40px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
.u238 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u238_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u239_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
.u239 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:5px;
  width:72px;
  height:21px;
  display:flex;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
.u239 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u239_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u240 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:27px;
  width:460px;
  height:230px;
}
.u240_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:230px;
  overflow:hidden;
}
#u232-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  height:275px;
}
#u232-2 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:0px;
  width:482px;
  height:275px;
}
#u232-3 {
  border-width:0px;
  position:absolute;
  left:983px;
  top:0px;
  width:482px;
  height:275px;
}
#u232-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:285px;
  width:482px;
  height:275px;
}
#u232-5 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:285px;
  width:482px;
  height:275px;
}
#u232-6 {
  border-width:0px;
  position:absolute;
  left:983px;
  top:285px;
  width:482px;
  height:275px;
}
#u232-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:569px;
  width:482px;
  height:275px;
}
#u232-8 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:569px;
  width:482px;
  height:275px;
}
#u232-9 {
  border-width:0px;
  position:absolute;
  left:983px;
  top:569px;
  width:482px;
  height:275px;
}
#u232-10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:854px;
  width:482px;
  height:275px;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:200px;
  width:1465px;
  height:1128px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u242 label {
  left:0px;
  width:100%;
}
#u242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:18px;
  height:18px;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:26px;
  width:311px;
  height:21px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u242 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u242_img.selected {
}
#u242.selected {
}
#u242_img.disabled {
}
#u242.disabled {
}
#u242_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:0px;
  width:289px;
  word-wrap:break-word;
  text-transform:none;
}
#u242_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u243 label {
  left:0px;
  width:100%;
}
#u243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:18px;
  height:18px;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:865px;
  top:26px;
  width:229px;
  height:21px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u243 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u243_img.selected {
}
#u243.selected {
}
#u243_img.disabled {
}
#u243.disabled {
}
#u243_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:0px;
  width:207px;
  word-wrap:break-word;
  text-transform:none;
}
#u243_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u244 label {
  left:0px;
  width:100%;
}
#u244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:18px;
  height:18px;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:26px;
  width:254px;
  height:21px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u244 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u244_img.selected {
}
#u244.selected {
}
#u244_img.disabled {
}
#u244.disabled {
}
#u244_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:0px;
  width:232px;
  word-wrap:break-word;
  text-transform:none;
}
#u244_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u245 label {
  left:0px;
  width:100%;
}
#u245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:18px;
  height:18px;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:1246px;
  top:26px;
  width:229px;
  height:21px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u245 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u245_img.selected {
}
#u245.selected {
}
#u245_img.disabled {
}
#u245.disabled {
}
#u245_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:0px;
  width:207px;
  word-wrap:break-word;
  text-transform:none;
}
#u245_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u246 label {
  left:0px;
  width:100%;
}
#u246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:18px;
  height:18px;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:86px;
  width:254px;
  height:21px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u246 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u246_img.selected {
}
#u246.selected {
}
#u246_img.disabled {
}
#u246.disabled {
}
#u246_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:0px;
  width:232px;
  word-wrap:break-word;
  text-transform:none;
}
#u246_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u247 label {
  left:0px;
  width:100%;
}
#u247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:18px;
  height:18px;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:86px;
  width:311px;
  height:21px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u247 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u247_img.selected {
}
#u247.selected {
}
#u247_img.disabled {
}
#u247.disabled {
}
#u247_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:0px;
  width:289px;
  word-wrap:break-word;
  text-transform:none;
}
#u247_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u248 label {
  left:0px;
  width:100%;
}
#u248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:18px;
  height:18px;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:865px;
  top:86px;
  width:311px;
  height:21px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u248 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u248_img.selected {
}
#u248.selected {
}
#u248_img.disabled {
}
#u248.disabled {
}
#u248_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:0px;
  width:289px;
  word-wrap:break-word;
  text-transform:none;
}
#u248_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u249 label {
  left:0px;
  width:100%;
}
#u249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:18px;
  height:18px;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:1246px;
  top:86px;
  width:311px;
  height:21px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u249 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u249_img.selected {
}
#u249.selected {
}
#u249_img.disabled {
}
#u249.disabled {
}
#u249_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:0px;
  width:289px;
  word-wrap:break-word;
  text-transform:none;
}
#u249_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u250 label {
  left:0px;
  width:100%;
}
#u250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:18px;
  height:18px;
}
#u250 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:144px;
  width:254px;
  height:21px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u250 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u250_img.selected {
}
#u250.selected {
}
#u250_img.disabled {
}
#u250.disabled {
}
#u250_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:0px;
  width:232px;
  word-wrap:break-word;
  text-transform:none;
}
#u250_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u251 label {
  left:0px;
  width:100%;
}
#u251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:18px;
  height:18px;
}
#u251 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:144px;
  width:401px;
  height:21px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u251 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u251_img.selected {
}
#u251.selected {
}
#u251_img.disabled {
}
#u251.disabled {
}
#u251_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:0px;
  width:379px;
  word-wrap:break-word;
  text-transform:none;
}
#u251_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u252_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u252 {
  border-width:0px;
  position:absolute;
  left:851px;
  top:135px;
  width:140px;
  height:40px;
  display:flex;
  font-size:20px;
}
#u252 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u252_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u253_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u253 {
  border-width:0px;
  position:absolute;
  left:1007px;
  top:135px;
  width:140px;
  height:40px;
  display:flex;
  font-size:20px;
}
#u253 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u253_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
